body {
	font: 16px "algerian", Futura, sans-serif;
	margin: 30px;
}
ol, ul {
	padding-left: 30px;
}
.board-row:after {
	clear: both;
	content: "";
	display: table;
}
.status {
  margin-bottom: 10px;
}
.square {
	background: #FED300;
	border: 1px solid #3914AF;
	float: left;
	font-size: 24px;
	font-weight: bold;
	line-height: 34px;
	height: 64px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 64px;
}
.square:focus {
	outline: none;
}
.kbd-navigation .square:focus {
	background: #ddd;
}
.game {
	display: flex;
	flex-direction: row;
}
.game-info {
	margin-left: 20px;
}
#ref {
	position: fixed; /* Фиксированное положение */
	font: 12px "algerian";
  left: 80; bottom: 150;
	color: #FED300;
  user-select: none;
  background: #3914AF;
  padding: .7em 1.5em;
  outline: none;
}
